*~
src/build
src/bin
src/objs
.sconsign.dblite

# cmake
cmake/src/**
cmake/CMakeFiles/**
cmake/Debug/**
cmake/Release/**
cmake/*/Debug/**
cmake/*/Release/**
cmake/**/*.exe
cmake/**/*.lib
cmake/CMakeCache.txt
cmake/cmake_install.cmake
cmake/CPackConfig.cmake
cmake/CPackSourceConfig.cmake
cmake/CTestTestfile.cmake
cmake/CMakeCache.txt

# Visual Studio files
cmake/*.sln
cmake/*.vcxproj*
cmake/.vs/**
